            :root {
                --bb-primary-color: #007CFF;
                --bb-primary-color-rgb: 0, 124, 255;
                --bb-body-background-color: #FAFBFD;
                --bb-body-background-color-rgb: 250, 251, 253;
                --bb-content-background-color: #FFFFFF;
                --bb-content-alternate-background-color: #FBFBFC;
                --bb-content-border-color: #E7E9EC;
                --bb-content-border-color-rgb: 231, 233, 236;
                --bb-cover-image-background-color: #607387;
                --bb-headings-color: #122B46;
                --bb-headings-color-rgb: 18, 43, 70;
                --bb-body-text-color: #4D5C6D;
                --bb-body-text-color-rgb: 77, 92, 109;
                --bb-alternate-text-color: #A3A5A9;
                --bb-alternate-text-color-rgb: 163, 165, 169;
                --bb-primary-button-background-regular: #385DFF;
                --bb-primary-button-background-hover: #1E42DD;
                --bb-primary-button-border-regular: #385DFF;
                --bb-primary-button-border-hover: #1E42DD;
                --bb-primary-button-text-regular: #ffffff;
                --bb-primary-button-text-regular-rgb: 255, 255, 255;
                --bb-primary-button-text-hover: #ffffff;
                --bb-primary-button-text-hover-rgb: 255, 255, 255;
                --bb-secondary-button-background-regular: #F2F4F5;
                --bb-secondary-button-background-hover: #385DFF;
                --bb-secondary-button-border-regular: #F2F4F5;
                --bb-secondary-button-border-hover: #385DFF;
                --bb-secondary-button-text-regular: #1E2132;
                --bb-secondary-button-text-hover: #FFFFFF;
                --bb-header-background: #ffffff;
                --bb-header-alternate-background: #F2F4F5;
                --bb-header-links: #939597;
                --bb-header-links-hover: #007CFF;
                --bb-header-mobile-logo-size: px;
                --bb-header-height: 76px;
                --bb-sidenav-background: #ffffff;
                --bb-sidenav-text-regular: #939597;
                --bb-sidenav-text-hover: #939597;
                --bb-sidenav-text-active: #ffffff;
                --bb-sidenav-menu-background-color-regular: #ffffff;
                --bb-sidenav-menu-background-color-hover: #F2F4F5;
                --bb-sidenav-menu-background-color-active: #007CFF;
                --bb-sidenav-count-text-color-regular: #939597;
                --bb-sidenav-count-text-color-hover: #ffffff;
                --bb-sidenav-count-text-color-active: #007CFF;
                --bb-sidenav-count-background-color-regular: #F2F4F5;
                --bb-sidenav-count-background-color-hover: #007CFF;
                --bb-sidenav-count-background-color-active: #ffffff;
                --bb-footer-background: #ffffff;
                --bb-footer-widget-background: #ffffff;
                --bb-footer-text-color: #5A5A5A;
                --bb-footer-menu-link-color-regular: #5A5A5A;
                --bb-footer-menu-link-color-hover: #385DFF;
                --bb-footer-menu-link-color-active: #1E2132;
                --bb-admin-screen-bgr-color: #FAFBFD;
                --bb-admin-screen-txt-color: #122B46;
                --bb-login-register-link-color-regular: #5A5A5A;
                --bb-login-register-link-color-hover: #1E42DD;
                --bb-login-register-button-background-color-regular: #385DFF;
                --bb-login-register-button-background-color-hover: #1E42DD;
                --bb-login-register-button-border-color-regular: #385DFF;
                --bb-login-register-button-border-color-hover: #1E42DD;
                --bb-login-register-button-text-color-regular: #FFFFFF;
                --bb-login-register-button-text-color-hover: #FFFFFF;
                --bb-label-background-color: #D7DFFF;
                --bb-label-text-color: #385DFF;
                --bb-tooltip-background: #122b46;
                --bb-tooltip-background-rgb: 18, 43, 70;
                --bb-tooltip-color: #ffffff;
                --bb-default-notice-color: #007CFF;
                --bb-default-notice-color-rgb: 0, 124, 255;
                --bb-success-color: #1CD991;
                --bb-success-color-rgb: 28, 217, 145;
                --bb-warning-color: #f7ba45;
                --bb-warning-color-rgb: 247, 186, 69;
                --bb-danger-color: #EF3E46;
                --bb-danger-color-rgb: 239, 62, 70;
                --bb-login-custom-heading-color: #FFFFFF;
                --bb-button-radius: 100px;
                --bb-block-radius: 10px;
                --bb-option-radius: 5px;
                --bb-block-radius-inner: 6px;
                --bb-input-radius: 6px;
                --bb-label-type-radius: 6px;
                --bb-checkbox-radius: 5.4px;
                --bb-primary-button-focus-shadow: 0px 0px 0px 2px rgba(var(--bb-primary-button-border-hover-rgb), 0.1);
                --bb-secondary-button-focus-shadow: 0px 0px 0px 2px rgba(var(--bb-secondary-button-border-hover-rgb), 0.1);
                --bb-outline-button-focus-shadow: 0px 0px 0px 2px rgba(var(--bb-content-border-color-rgb), 0.1);
                --bb-input-focus-shadow: 0px 0px 0px 2px rgba(var(--bb-primary-color-rgb), 0.1);
                --bb-input-focus-border-color: var(--bb-primary-color);
            }

            .bb-style-primary-bgr-color {
                background-color: #007CFF;
            }

            .bb-style-border-radius {
                border-radius: 100px;
            }

            .site-header-container #site-logo .bb-logo.bb-logo-dark,.llms-sidebar.bb-dark-theme .site-header-container #site-logo .bb-logo,.site-header-container .ld-focus-custom-logo .bb-logo.bb-logo-dark,.bb-custom-ld-focus-mode-enabled:not(.bb-custom-ld-logo-enabled) .site-header-container .ld-focus-custom-logo .bb-logo.bb-logo-dark,.bb-dark-theme.bb-custom-ld-focus-mode-enabled:not(.bb-custom-ld-logo-enabled) .site-header-container .ld-focus-custom-logo img,.bb-sfwd-aside.bb-dark-theme:not(.bb-custom-ld-logo-enabled) .site-header-container #site-logo .bb-logo,.buddypanel .site-branding div img.bb-logo.bb-logo-dark,.bb-sfwd-aside.bb-dark-theme .buddypanel .site-branding div img.bb-logo,.buddypanel .site-branding h1 img.bb-logo.bb-logo-dark,.bb-sfwd-aside.bb-dark-theme .buddypanel .site-branding h1 img.bb-logo {
                display: none;
            }

            .llms-sidebar.bb-dark-theme .site-header-container #site-logo .bb-logo.bb-logo-dark,.bb-dark-theme.bb-custom-ld-focus-mode-enabled:not(.bb-custom-ld-logo-enabled) .site-header-container .ld-focus-custom-logo .bb-logo.bb-logo-dark,.bb-sfwd-aside.bb-dark-theme .site-header-container #site-logo .bb-logo.bb-logo-dark,.buddypanel .site-branding div img.bb-logo,.bb-sfwd-aside.bb-dark-theme .buddypanel .site-branding div img.bb-logo.bb-logo-dark,.buddypanel .site-branding h1 img.bb-logo,.bb-sfwd-aside.bb-dark-theme .buddypanel .site-branding h1 img.bb-logo.bb-logo-dark {
                display: inline;
            }

            #site-logo .site-title img {
                max-height: inherit;
            }

            .llms-sidebar.bb-dark-theme .site-header-container .site-branding,.bb-sfwd-aside.bb-dark-theme .site-header-container .site-branding {
                min-width: px;
            }

            .llms-sidebar.bb-dark-theme #site-logo .site-title .bb-logo.bb-logo-dark img,.bb-sfwd-aside.bb-dark-theme #site-logo .site-title .bb-logo.bb-logo-dark img,.llms-sidebar.bb-dark-theme #site-logo .site-title img.bb-logo.bb-logo-dark,.bb-sfwd-aside.bb-dark-theme #site-logo .site-title img.bb-logo.bb-logo-dark,.bb-custom-ld-focus-mode-enabled .site-header-container .ld-focus-custom-logo .bb-logo.bb-logo-dark,.bb-sfwd-aside.bb-dark-theme .buddypanel .site-branding div img.bb-logo.bb-logo-dark {
                width: px;
            }

            .site-header-container #site-logo .bb-logo img,.site-header-container #site-logo .site-title img.bb-logo,.site-title img.bb-mobile-logo {
                max-height: 76px
            }

            .sticky-header .site-header {
                position: fixed;
                z-index: 610;
                width: 100%;
            }

            .sticky-header .bp-search-ac-header {
                position: fixed;
            }

            .sticky-header .site-content,body.buddypress.sticky-header .site-content,.bb-buddypanel.sticky-header .site-content,.single-sfwd-quiz.bb-buddypanel.sticky-header .site-content,.single-sfwd-lessons.bb-buddypanel.sticky-header .site-content,.single-sfwd-topic.bb-buddypanel.sticky-header .site-content {
                padding-top: 76px
            }

            .sticky-header .site-content {
                min-height: 85vh;
            }

            .site-header .site-header-container,.header-search-wrap,.header-search-wrap input.search-field,.header-search-wrap form.search-form {
                height: 76px;
            }

            .sticky-header .bp-feedback.bp-sitewide-notice {
                top: 76px;
            }

            @media screen and (max-width: 767px) {
                .bb-mobile-header {
                    height:76px;
                }

                #learndash-content .lms-topic-sidebar-wrapper .lms-topic-sidebar-data {
                    height: calc(90vh - 76px);
                }
            }

            [data-balloon]:after,[data-bp-tooltip]:after {
                background-color: rgba( 18,43,70,1 );
                box-shadow: none;
            }

            [data-balloon]:before,[data-bp-tooltip]:before {
                background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba( 18,43,70,1 )%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
                background-size: 100% auto;
            }

            [data-bp-tooltip][data-bp-tooltip-pos="right"]:before,[data-balloon][data-balloon-pos='right']:before {
                background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba( 18,43,70,1 )%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
                background-size: 100% auto;
            }

            [data-bp-tooltip][data-bp-tooltip-pos="left"]:before,[data-balloon][data-balloon-pos='left']:before {
                background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba( 18,43,70,1 )%22%20transform%3D%22rotate(-90 18 18)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
                background-size: 100% auto;
            }

            [data-bp-tooltip][data-bp-tooltip-pos="down-left"]:before,[data-bp-tooltip][data-bp-tooltip-pos="down"]:before,[data-balloon][data-balloon-pos='down']:before {
                background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba( 18,43,70,1 )%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
                background-size: 100% auto;
            }


            #buddypress #header-cover-image.has-default,#buddypress #header-cover-image.has-default .guillotine-window img,.bs-group-cover.has-default a {
                background-color: #607387;
            }

            body.buddypress.register.login-split-page .login-split .split-overlay,body.buddypress.activation.login-split-page .login-split .split-overlay {
                opacity: 0.3;
            }

            body.buddypress.register .register-section-logo img,body.buddypress.activation .activate-section-logo img {
                width: 115px;
            }


            .learndash-wrapper .bb-ld-tabs #learndash-course-content {
                top: -86px;
            }

            html[dir="rtl"] .learndash_next_prev_link a.next-link,html[dir="rtl"] .learndash_next_prev_link span.next-link {
                border-radius: px 0 0 px;
            }

            html[dir="rtl"] .learndash_next_prev_link a.prev-link,html[dir="rtl"] .learndash_next_prev_link span.prev-link {
                border-radius: 0 px px 0;
            }


            a.bb-close-panel i {
                top: 67px;
            }


            .learndash-wrapper .learndash_content_wrap {
                max-width: 1200px;
            }

            .ld-video iframe {
                border: 0
            }

            #learndash-page-content {
                /# padding: 0px;
                #/ }
